{% extends "base_patient.html" %}

{% block content %}
<div class="container">
    <!-- Information window/message -->
    <div class="alert alert-info" role="alert" id="persistentAlert">
        Appointments can be booked from 10am to 5pm only.
    </div>

    <h2 class="mb-4">Schedule an Appointment</h2>
    <form method="post" class="appointment-form">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong> Please correct the following issues:
            <ul>
                {% for error, messages in form.errors.items %}
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="{{ form.doctor.id_for_label }}" class="form-label">Select Doctor</label>
            {{ form.doctor }}
        </div>
        
        <div class="mb-3">
            <label for="{{ form.appointment_date_time.id_for_label }}" class="form-label">Appointment Date and Time</label>
            {{ form.appointment_date_time }}
            {% if form.appointment_date_time.errors %}
            <small class="text-danger">{{ form.appointment_date_time.errors.0 }}</small>
            {% endif %}

        </div>
        
        <div class="mb-3">
            <label for="{{ form.subject.id_for_label }}" class="form-label">Subject</label>
            {{ form.subject }}
        </div>
        
        <button type="submit" class="btn btn-primary">Schedule</button>
    </form>
</div>
{% endblock %}
